@{
    ViewBag.Title = "Home page";
}

<h2>Home page</h2>
        <p>@Html.ActionLink("Войти как Admin", "Index", new { controller = "News", area = "AdminArea" })</p>
   
        <p>@Html.ActionLink("Войти как Пользователь", "Index", new { controller = "Home", area = "NewsArea" })</p>
