@{
    ViewBag.Title = "Home page";
}

<h2>Home page</h2>
    <div class="col-md-4">
        <p>@Html.ActionLink("Войти как Admin", "Index", new { controller = "NewsController", area = "AdminArea" })</p>
    </div>
    <div class="col-md-4">
        <p>@Html.ActionLink("Войти как Пользователь", "Index", new { controller = "Home", area = "User" })</p>
</div>
